{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block head_content %}
{% if not user.is_staff %}
<meta http-equiv="REFRESH" content="0;url={% url 'home' %}">
<h1> Hello world</h1>
{% else %}
<h1> Goodbye </h1>
{% endif %}
{% endblock head_content %}

{% block content %}
<div class="container">
  <h3 class="text-center">Reset Password</h2>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="text-center">
      <button class="btn btn-lg btn-success" type="submit">Get reset link</button>
    </div>
  </form>
</div>
{% endblock content %}
