{% extends '_base.html' %}

{% block content %}
<section id="intro">
  <div class="text-center">
    <h4>Washington University in Saint Louis presents</h4>
    <h1>Meme Hunt Club</h1>
  </div>
</section>

<hr>

<section id="welcome">
  <div class="text-center">
    <h3>Welcome to the club!</h3>
    <p>
      WashU Meme Hunt Club is free and open to all WashU students. Anyone can join at any time.
    </p>
    <a class="btn btn-primary btn-lg wustl-link" href="{% url 'account_signup' %}">Sign up today</a>
  </div>
</section>

<hr>

<section id="meme">
  <div class="text-center">
    <h3>Ready to hunt?</h3>
    <p>
      A new meme is placed somewhere on campus each week. Hints are released as the week progresses.
    </p>
    {% if meme != None %}
      <a class="btn btn-success btn-lg wustl-link" href="{{ meme.get_absolute_url }}">Go to this week's meme</a>
    {% else %}
      <a class="btn btn-success btn-lg wustl-link" href="{% url 'meme_list' %}">Go to this week's meme</a>
    {% endif %}
  </div>
</section>

<hr>

<section id="scoreboard">
  <div class="text-center">
    <h3>See how you stack up against others</h3>
    <p>
      Finding the meme before your classmates gives you more points. The scoreboard is updated weekly.
    </p>
    <a class="btn btn-primary btn-lg wustl-link" href="{% url 'scoreboard' %}">See the scoreboard</a>
  </div>
</section>

<hr>

<section id="meme-list">
  <div class="text-center">
    <h3>See the previous memes</h3>
    <p>
      All previous memes are catalogued for your viewing pleasure. Perhaps they will give you ideas for where this week's meme could be?
    </p>
    <a class="btn btn-success btn-lg wustl-link" href="{% url 'meme_list' %}">See the meme list</a>
  </div>
</section>
{% endblock content %}
